.about {
  padding: 60px 0px 60px 0px;

  @media screen and (min-width: $desktop) {
    padding: 94px 0px 94px 0px;
  }

  &__list {
    // padding-left: 15px;
    // display: flex;
    // padding-left: 0px;
    // justify-content: space-between;

    @media screen and (min-width: $desktop) {
      display: inline-block;
      margin: 0px 200px 0px 200px;
    }
  }

  &__item {
    // margin-left: -15px;

    @media screen and (min-width: $tablet) {
      display: inline-block;
      margin-right: 24px;
    }
  }

  &__item:nth-child(2n) {
    margin-right: 0px;

    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }

  &__item:last-child {
    margin-right: 0px;
  }

  &__item--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--back-comanda-prod);
    width: 450px;
    height: 120px;
    margin: 0px;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
      width: 354px;
    }

    @media screen and (min-width: $desktop) {
      width: 270px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;

    @media screen and (min-width: $tablet) {
      text-align: left;
      width: 270px;
    }
  }

  &__text {
    align-items: center;
    font-weight: 400;
    color: var(--grey-text);
    font-size: 14px;
    line-height: 1.7;
    width: 450px;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
      width: 354px;
    }

    @media screen and (min-width: $desktop) {
      width: 270px;
    }
  }

  // &__text:last-child {
  //   margin-bottom: 0px;
  // }
}
