.clients {
  // padding-left: 15px;
  // padding-right: 15px;
  // padding-top: 94px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
  }

  &__link--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 210px;
    // height: 92px;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--white-text);
    width: calc((100% / 2) - 20px);
    height: 92px;
    margin-right: 30px;
    margin-bottom: 30px;
    // margin-bottom: 94px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: $tablet) {
      width: 226px;
    }

    @media screen and (min-width: $desktop) {
      width: 170px;
      margin-bottom: 0px;
      margin-right: 30px;
    }

    &:nth-child(2n) {
      margin-right: 0px;

      @media screen and (min-width: $tablet) {
        margin-right: 30px;
      }
    }

    &:last-child {
      margin-bottom: 60px;

      @media screen and (min-width: $desktop) {
        margin-bottom: 94px;
      }
    }

    &:hover,
    &:focus {
      border-color: var(--blue-text);
    }

    &:hover .nav__icon--logo-1 {
      fill: var(--blue-text);
    }

    &:hover .nav__icon--logo-2 {
      fill: var(--blue-text);
    }

    &:hover .nav__icon--logo-3 {
      fill: var(--blue-text);
    }

    &:hover .nav__icon--logo-4 {
      fill: var(--blue-text);
    }

    &:hover .nav__icon--logo-5 {
      fill: var(--blue-text);
    }

    &:hover .nav__icon--logo-6 {
      fill: var(--blue-text);
    }
  }

  @media screen and (min-width: $tablet) {
    .clients__item:nth-child(3n) {
      margin-right: 0px;
    }
    @media screen and (min-width: $desktop) {
      .clients__item:nth-child(4n-1) {
        margin-right: 30px;
      }
    }
  }

  &__list {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (min-width: $desktop) {
      margin: 0px 200px 0px 200px;
    }
  }
}
