.doing {
  @media screen and (max-width: $desktop - 1) {
    display: none;
  }

  padding: 0px 0px 94px 0px;

  &__list {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $desktop) {
      justify-content: left;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
    text-align: center;
  }

  &__item {
    display: block;
    position: relative;

    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }

  &__text {
    color: var(--white-text);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
  }

  &__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    height: 70px;
    padding: 27px 83px 27px 82px;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__img {
    position: relative;
    z-index: 1;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }
}
