.footer {
  background: var(--back-zakaz);

  padding-bottom: 60px;

  &__list {
    // display: flex;
  }

  &__team--icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: var(--back-zakaz);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: var(--blue-text);
    }

    &:hover .nav__icon--instagram {
      fill: var(--white-text);
    }

    &:hover .nav__icon--twitter {
      fill: var(--white-text);
    }

    &:hover .nav__icon--facebook {
      fill: var(--white-text);
    }

    &:hover .nav__icon--linkedin {
      fill: var(--white-text);
    }
  }

  &__logo {
    color: var(--white-text);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
  }

  &__adress {
    color: var(--white-text);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    margin-bottom: 9px;
  }

  &__item--adress {
    padding-top: 60px;
    text-align: center;

    @media screen and (min-width: $tablet) {
      display: inline-block;
      padding-top: 0px;
      margin-left: 76px;
      margin-right: 165px;
    }

    @media screen and (min-width: $desktop) {
      text-align: left;
      margin-left: 215px;
      margin-right: 70px;
    }
    // margin-right: 70px;
  }

  &__item--join {
    // margin-right: 93px;
    text-align: center;

    @media screen and (min-width: $tablet) {
      display: inline-block;
      // padding-top: 65px;
    }

    @media screen and (min-width: $desktop) {
      text-align: left;
      // padding-top: 65px;
    }
  }

  &__item--mail {
    display: inline-block;
    text-align: center;

    @media screen and (min-width: $desktop) {
      text-align: left;
    }
  }

  &__mail {
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.17;
    color: var(--grey-text);
    margin-bottom: 9px;
  }

  &__tel {
    display: block;
    margin-bottom: 60px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 1.17;
    color: var(--grey-text);
  }

  &__title {
    margin-top: 72px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--white-text);

    @media screen and (min-width: $tablet) {
      margin-top: 0px;
    }
    @media screen and (min-width: $desktop) {
      margin-left: 93px;
    }
  }

  &__form--mail {
    width: 358px;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: var(--back-zakaz);

    @media screen and (min-width: $tablet) {
      width: 450px;
      margin-left: 166px;
      margin-right: 152px;
    }

    @media screen and (min-width: $desktop) {
      width: 358px;
      margin-left: 93px;
      margin-right: 12px;
    }
  }

  &__btn {
    display: inline-flex;
    width: 200px;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;

    align-items: center;
    text-decoration: none;
    background-color: var(--blue-text);
    border-radius: 4px;
    border: none;

    &--icon {
      width: 24px;
      height: 24px;
      margin-left: 10px;
      fill: var(--white-text);
    }

    &--title {
      margin-left: 29px;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.17;
      color: var(--white-text);
    }
  }

  .foot {
    @media screen and (min-width: $tablet) {
      display: flex;
      padding-top: 65px;
    }
    @media screen and (min-width: $desktop) {
      display: inline-block;
      padding-top: 60px;
    }
  }
}
