.header {
  // position: relative;
  background: var(--white-text);

  &__logo--blue {
    color: var(--blue-text);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 16px;

    @media screen and (min-width: $tablet) {
      margin-top: 21px;
      margin-bottom: 21px;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 200px;
      margin-top: 24px;
      margin-bottom: 25px;
    }

    // justify-content: space-between;
    // align-items: center;
  }
}

.nav__item {
  margin-right: 50px;

  &--logo {
    display: flex;
    color: var(--black-text);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    // margin-left: 15px;
    // margin-right: 284px;

    @media screen and (min-width: $tablet) {
      margin-right: 88px;
    }
  }

  &--contacts {
    display: flex;
    text-decoration: none;
    color: var(--grey-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }

  &--group {
    display: none;
    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }

  &--link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    color: var(--black-text);
    // padding-top: 32px;
    // padding-bottom: 32px;
    @include transition(color);

    &-studio,
    &-portfolio {
      // position: relative;
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.17;
      color: var(--black-text);
      // padding-top: 32px;
      // padding-bottom: 32px;
      @include transition(color);
    }

    &-studio::after,
    &-portfolio::after {
      // position: absolute;
      // content: '';
      // display: inline-block;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 5px;
      border-radius: 2px;
      background-color: var(--blue-text);
    }
  }

  &--link:hover,
  &--link:focus {
    color: var(--blue-text);
  }
}

.nav__item--group-mobile {
  padding-top: 48px;
  padding-bottom: 302px;
  padding-right: 20px;
  padding-left: 40px;
  overflow-y: scroll;
}

.nav__item--link-mobile {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  color: var(--black-text);
  // padding-top: 32px;
  // padding-bottom: 32px;
  @include transition(color);
}

.nav__item--link-studio-mobile {
  // position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  color: var(--black-text);
  // padding-top: 32px;
  // padding-bottom: 32px;
  @include transition(color);
}

.nav__item--link-studio-mobile,
.nav__item--link-portfolio-mobile {
  // position: absolute;
  // content: '';
  // display: inline-block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  // background-color: var(--blue-text);
}

.nav__item--link-mobile:hover,
.nav__item--link-mobile:focus {
  color: var(--blue-text);
}

// .contacts__item:first-child {
//   margin-right: 50px;
// }

// .nav__item {
//   margin-bottom: 35.71px;
// }

// .contacts__item--grey {
//   display: flex;
//   align-items: center;
//   flex-direction: row-reverse;
//   text-decoration: none;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.17;
//   color: var(--grey-text);
//   // padding-top: 32px;
//   // padding-bottom: 32px;
//   @include transition(color);

//   &:hover,
//   &:focus {
//     color: var(--blue-text);
//   }
// }

.contacts__item--mobile {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: var(--grey-text);
  // padding-top: 32px;
  padding-bottom: 64px;
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--blue-text);
  }
}

.contacts__item--tel-mobile {
  margin-bottom: 32px;
}

.contacts__item--mail-mobile {
  margin-bottom: 64px;
}

.nav__item--contacts-mobile {
  display: inline-block;
  text-decoration: none;
  margin-left: 40px;
  // margin-top: 102px;
  // color: var(--grey-text);
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.14;
}

.contacts__item {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  color: var(--grey-text);
  // padding-top: 32px;
  // padding-bottom: 64px;
  @include transition(color);

  &:hover,
  &:focus {
    color: var(--blue-text);
  }
}

.nav__item--contacts {
  display: none;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 106px;
  @media screen and (min-width: $tablet) {
    display: block;
  }
  @media screen and (min-width: $desktop) {
    display: flex;

    margin-left: 331px;
  }
  // margin-left: 40px;
  // margin-top: 102px;
}

.contacts__item--tel {
  // margin-bottom: 21px;
}

.contacts__item--mail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 0px;
    margin-right: 50px;
  }
  // margin-bottom: 64px;
}

.menu__button {
  display: flex;
  // position: absolute;
  // margin-right: 284 px;
  border: none;
  background-color: transparent;
  margin-left: auto;
  // margin-left: auto;
  // justify-content: space-between;
  // align-items: center;
  cursor: pointer;
  padding: 0;
  z-index: 2;

  & .icon__close {
    display: none;
  }

  &.is-open .icon__close {
    display: block;
  }

  &.is-open .icon__menu {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  // & .icon__close {
  //   display: none;
  // }

  // &.is-open .icon__close {
  //   display: block;
  // }

  // &.is-open .icon__menu {
  //   display: none;
  // }
}

.icon__menu,
.icon__close {
  cursor: pointer;
  fill: var(--blue-text);
}

.menu__button--container {
  position: absolute;
  z-index: 1;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 796px;
  // padding: 20px;
  background-color: white;
  text-align: left;
  font-size: 20px;

  &.is-open {
    display: block;
  }
}

.icon-close_24px {
  position: fixed;
  top: 21px;
  left: 436px;
}

.social-list__item {
  display: inline-block;
  color: var(--blue-text);
}

.social-list__link::after {
  // position: absolute;
  // right: 0;
  content: '';
  display: inline-block;
  height: 1px;
  width: 22px;
  background: rgba(185, 135, 135, 0.2);
  transform: rotate(90deg);
  align-items: center;
}

.link__blue {
  color: var(--blue-text);
}

.line {
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0px;
  top: 60px;
  border: 1px solid #ececec;
  background-image: url(/images/Line.jpg);

  @media screen and (min-width: $tablet) {
    top: 80px;
  }
}

.hover__studio {
  position: absolute;
  width: 47px;
  height: 4px;
  margin-top: 28px;
  background: #2196f3;
  border-radius: 2px;
  background-image: url(/images/hover.jpg);
}

.hover__portfolio {
  position: absolute;
  width: 75px;
  height: 4px;
  margin-top: 28px;
  background: #2196f3;
  border-radius: 2px;
  background-image: url(/images/hover.jpg);
}
