.hero {
  height: 380px;

  @media screen and (min-width: $mobile) {
    height: 400px;
  }

  @media screen and (min-width: $desktop) {
    height: 600px;
  }

  // max-width: 1600px;
  // color: var(--white-text);

  // margin-left: auto;
  // margin-right: auto;
  // text-align: center;
  // padding: 200px 0 200px 0;
  // background-image: url(/images/Header__img--480.jpg);
  // background-color: rgba(47, 48, 58, 0.4);
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
}

.img__mobile {
  width: 100%;
  height: 400px;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.img__tablet {
  position: absolute;
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.img__desktop {
  position: absolute;
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
  }
}

.hero-title {
  position: relative;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  color: var(--white-text);
  padding-top: 118px;
  padding-bottom: 30px;

  @media screen and (min-width: $mobile) {
    padding: 118px 60px 30px 60px;
  }

  @media screen and (min-width: $tablet) {
    padding: 118px 189px 30px 189px;
  }

  @media screen and (min-width: $desktop) {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    padding: 200px 437px 30px 437px;
  }
}

.hero-btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  background: var(--back-blue);
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
