.click__window {
  position: relative;
  list-style: none;
  text-decoration: none;
  color: var(--black-text);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--white-text);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.js__speaker--form {
  margin-bottom: 40px;
}

.link__icon {
  width: 30px;
  height: 30px;

  &--close {
    display: flex;
    position: absolute;
    padding: 0;
    background: no-repeat;
    border-radius: 50%;
    top: 8px;
    right: 8px;

    &:hover,
    &:focus {
      border-color: var(--blue-text);
      cursor: pointer;
    }

    &:hover .link__icon {
      fill: var(--blue-text);
    }
  }
}

.form {
  display: block;
  color: var(--grey-text);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  &__text {
    display: flex;
    color: var(--black-text);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin: 40px 40px 12px 40px;
  }

  &__input--type {
    display: flex;
    width: 448px;
    height: 40px;
    margin-top: 4px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }

  &__icon--person {
    position: absolute;
    left: 15px;
    bottom: 14px;
    top: 50%;
    width: 18px;
    height: 18px;
    fill: var(--black-text);
  }

  &__label--name {
    position: relative;
    display: inline-block;
    margin: 0px 40px 10px 40px;

    &:hover .form__icon--person {
      fill: var(--blue-text);
    }
  }

  &__input--coment {
    margin: 0;
    width: 448px;
    height: 120px;
    padding: 12px 16px 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-top: 4px;
    font: inherit;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      border-color: var(--blue-text);
      cursor: pointer;
    }

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__input--type:hover,
  &__input--type:focus,
  &__input--comment:hover,
  &__input--comment:focus {
    border-color: var(--blue-text);
    cursor: pointer;
  }

  &__button--send {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    border: 1px;
    margin-top: 30px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--white-text);
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__group--check {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 7px;
  }
}

.checkbox {
  appearance: none;
  position: absolute;

  &:checked + .form__group--check {
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: transparent;
  }

  &__text--check {
    display: inline-flex;
    align-items: center;
    margin-left: 54px;
  }

  &__link--check {
    color: var(--blue-text);
    margin-left: 5px;
  }

  &__text--check,
  &__link--check {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}
