.portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-top: 20px;
  margin-left: 24px;

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 24px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    // padding-left: 15px;
    // padding-right: 15px;

    @media screen and (min-width: $desktop) {
      padding-left: 200px;
      padding-right: 200px;
    }

    &--btn {
      display: flex;
      flex-wrap: wrap;
      // flex-wrap: wrap;
      // justify-content: center;
      align-items: center;
      padding: 60px 0px 40px 0px;

      @media screen and (min-width: $tablet) {
        padding: 60px 150px 30px 150px;
      }

      @media screen and (min-width: $desktop) {
        justify-content: center;
        padding: 94px 0px 50px 0px;
      }
    }
  }

  &__item {
    width: 450px;
    height: 404px;
    margin-bottom: 30px;
    @media screen and (min-width: $tablet) {
      width: 354px;
      height: 440px;

      margin-right: 30px;
    }
    @media screen and (min-width: $desktop) {
      width: 370px;
      height: 404px;
    }

    background: #ffffff;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);

    &:nth-child(2n) {
      margin-right: 0;

      @media screen and (min-width: $desktop) {
        margin-right: 30px;
      }
    }

    // &:nth-child(3n) {
    //   margin-right: 0;
    // }

    // &:nth-child(n + 7) {
    //   margin-bottom: 94px;
    // }

    &:last-child {
      margin-bottom: 60px;
    }

    &--btn {
      margin-right: 8px;
      margin-bottom: 15px;
      @media screen and (min-width: $desktop) {
        // margin-right: 30px;
      }

      // &:nth-child(n + 3) {
      //   margin-right: 150px;

      //   @media screen and (min-width: $tablet) {
      //     margin-right: 8px;
      //   }
      // }

      // &:nth-child(n + 4) {
      //   margin-top: 15px;
      //   margin-right: 8px;

      //   @media screen and (min-width: $tablet) {
      //     margin-top: 0px;
      //   }
      // }

      &:last-child {
        margin-right: 0px;
        margin-left: 0px;
      }
    }
  }

  &__btn {
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-decoration: none;
    color: var(--black-text);
    background: rgba(245, 244, 250, 1);
    border-radius: 4px;
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    @include transition(color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--white-text);
      background: var(--back-blue);
      border-radius: 4px;
    }
  }

  &__click--img {
    width: 100%;

    position: relative;
    overflow: hidden;
  }

  &__click--overlay {
    // position: absolute;
    margin-top: -294px;
    left: 0;
    width: 100%;

    // width: 370px;
    height: 294px;
    padding: 63px 24px 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    opacity: 0;
    z-index: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover .portfolio__click--overlay {
    transform: translateY(0);
    opacity: 1;
  }

  &-overlay-text {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: var(--white-text);
  }
}

.foot {
  @media screen and (min-width: $tablet) {
    display: flex;
    padding-top: 65px;
  }
}
.image-section {
  @media screen and (min-width: $desktop) {
    padding-bottom: 34px;
  }
}

@media screen and (min-width: $desktop) {
  .portfolio__item:nth-child(3n) {
    margin-right: 0px;
  }
}
