.team {
  // padding-left: 15px;
  // padding-right: 15px;
  // width: 1600px;
  background: var(--back-comanda-prod);

  @media screen and (min-width: $desktop) {
    padding: 0px;
  }

  &__text {
    font-weight: 400;
    color: var(--grey-text);
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
  }

  &__title {
    padding-top: 60px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    @media screen and (min-width: $desktop) {
      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;

    @media screen and (min-width: $desktop) {
      margin: 0px 200px 0px 200px;
    }
  }

  &__title--worker {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: var(--white-text);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin-bottom: 30px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: var(--blue-text);
    }

    &:hover .nav__icon--instagram {
      fill: var(--white-text);
    }

    &:hover .nav__icon--twitter {
      fill: var(--white-text);
    }

    &:hover .nav__icon--facebook {
      fill: var(--white-text);
    }

    &:hover .nav__icon--linkedin {
      fill: var(--white-text);
    }
  }

  &__container {
    margin-bottom: 30px;
    text-align: center;
    background: var(--white-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: $tablet) {
      margin-right: 30px;
    }
  }

  &__container:nth-child(2n) {
    margin-right: 0px;

    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }

  &__container:last-child {
    margin-bottom: 60px;
    margin-right: 0px;
  }

  @media screen and (min-width: $tablet) {
    &__container:nth-last-child(n-1) {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: $desktop) {
    &__container:nth-last-child(n-1) {
      margin-bottom: 94px;
    }
  }
}

.team__img--mobile {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.team__img--tablet {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
  }
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.team__img--desktop {
  display: none;
  @media screen and (min-width: $desktop) {
    display: block;
  }
}
