:root {
  --white-text: rgba(255, 255, 255, 1);
  --blue-text: rgba(33, 150, 243, 1);
  --black-text: rgba(33, 33, 33, 1);
  --grey-text: rgba(117, 117, 117, 1);
  --grey-color: rgba(175, 177, 184, 1);
  --grey-text-op60: rgba(255, 255, 255, 0.6);
  --back-header: rgba(229, 229, 229, 1);
  --back-zakaz: rgba(47, 48, 58, 1);
  --back-blue: rgba(33, 150, 243, 1);
  --back-comanda-prod: rgba(245, 244, 250, 1);
}
